{% extends "layout.html" %}
{% block container %}
<div class="jumbotron">
	<h1>Your mashup has loaded!</h1>
	<div>
		<audio controls>
			<source src="static/thisisntevenmyfinalform{{id}}.mp3" type="audio/mp3">
			Your browser does not support the audio element.
		</audio>
	</div>
	<p><a href="static/thisisntevenmyfinalform{{id}}.mp3">Download Link</a></p>
</div>

<footer class="footer">
<p>Using APIs from <img src="static/Gracenote_Logo.jpg" width="100px"> and     <img src="static/logo.jpg" width="70px"></p>
<p>&copy; Mashr 2015</p>
</footer>
{% endblock %}
