{% extends "layout.html" %}
{% block container %}
<div class="jumbotron" style="color:white; background-image:url('static/audio-technica-LP1240-turntable_edited.jpg'); background-position:top center; background-size:160% auto">
	<h1>Mashr</h1>
	<p class="lead">You provide the songs, we provide the mash.</p>
</div>

<form action="loading" method="POST" enctype="multipart/form-data">
	<div class="row marketing">
			<div class="col-lg-5">
				<h4>Song 1</h4>
				<p>Choose your first .mp3 song to mash!</p>
				<input type="file" name="song1" id="song1" required>
				<br>
				<label>Song Name (Optional*)</label>
				<input type="text" class="form-control col-lg-3" name="songName1">
			</div>

			<div class="col-lg-offset-2 col-lg-5">
				<h4>Song 2</h4>
				<p>Choose your second .mp3 song to mash!</p>
				<input type="file" name="song2" id="song2" required>
				<br>
				<label>Song Name (Optional*)</label>
				<input type="text" class="form-control col-lg-3" name="songName2">
			</div>
	</div>

	<div class="row">
		<div class="text-center">
			<p><input type="submit" class="btn btn-lg btn-success" value="Generate Mashup!"></p>
		</div>
	</div>
</form>

<footer class="footer">
<p class="text-right">* We attempt to determine the song name automatically, but this is used if no name can be determined</p>
<p>Using APIs from <img src="static/Gracenote_Logo.jpg" width="100px"> and <img src="static/logo.jpg" width="70px"></p>
<p>&copy; Mashr 2015</p>
</footer>
{% endblock %}
