{% extends "layout.html" %}
{% block container %}
<div class="jumbotron">
	<h1>Loading mashup...</h1>
	<p class="lead">Please be patient.</p>
	<img src="static/loader.gif">
	<p><div id="info"></div></p>
</div>


<footer class="footer">
<p>Using APIs from <img src="static/Gracenote_Logo.jpg" width="100px"> and     <img src="static/logo.jpg" width="70px"></p>
<p>&copy; Mashr 2015</p>
</footer>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/song_done');
        socket.on('song done', function(msg){
            window.location.replace('download');    
        });
    });
	//$('#info').load("info");
	//$('.container').load("song_done", function () { window.location.replace("download") } );
</script>
{% endblock %}
